body {
  margin: 0px;
  background: #c9caca
}

.sps_header_css{
  height: 56px;
  background-image: url("../img/gateway-01.png");
  background-repeat: repeat-x;
}

.sps_foot_css{
  height: 34px;
  background-image: url("../img/gateway-03.png");
  background-repeat: repeat-x;
}

.sps_logo_css{
  float: right;
}

/* 动态为footer添加类fixed-bottom */
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width:100%;
}

table {
  // border: 0px solid black;
  color: aliceblue;
  height:300px; 
  width:800px; 
  background-color: #707070;
  table-layout: fixed; 
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius:30px;
  vertical-align:middle; 
  text-align:center;
}

table td img {
  width:60px;
  height: 60px;
}

.sps_img_button:hover {
  width:65px;
  height: 65px;
}

.sps_img_tr {
  border-radius:30px;
  vertical-align:middle; 
  text-align:center;
  height: 80px;
}

.sps_text_tr {
  border-radius:30px;
  vertical-align:middle; 
  text-align:center;
  height: 60px;
}
